<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  >
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<table class="table table-striped" >
    <thead align="center">
    <tr >
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">ROLE</th>
    </tr>
    </thead>
    <tbody align="center">
        <tr th:each="guest:${guestList}" >
            <td th:text="${guest.id}">id</td>
            <td th:text="${guest.name}">name</td>
            <td th:text="${guest.role}">role</td>
        </tr>
    </tbody>
</table>
</body>
</html>